<div id="homePage">
<h1 class="homH1">Project Reel Exposure</h1>

<a href="/filmmakers">
    <div class="filmmakers">Filmmakers</div>
</a>

<a href="/investors">
    <div class="investors">Investors</div>
</a>

<a href="/funding">
    <div class="funding">Company Funders</div>
</a>
</div>