<h1>{{ user.name}}</h1>

<h2>Accounts</h2>
<ul>
    {{#each accounts}}
    <li>
        {{name}}
    </li>
    {{/each}}
</ul>

<form method="POST" action="/users/{{ user ._id }}?_method=DELETE">
    <input type="submit" value="Delete User" />
</form>