<div id="funPage">
<h1 class="titleU">Welcome Funders!!!</h1>
<h3 class="titleU2">Please Input Your Information Below</h3>

<div id="funSelection">
  {{#each fundings}}
    <p>
      <a href="/funders/{{ _id }}">
      {{ name }}

      </a>
    </p>
  {{/each}}
</div>
<div id="funName">
<form method="POST" action="/funders">
  <label for="name">Name</label>
  <input type="text" name="name" value="" /> <br>
    <label for="name">Website</label>
  <input type="text" name="website" value="" /> <br>
    <label for="name">Email</label>
  <input type="text" name="email" value="" /> <br>
    <label for="name">Phone</label>
  <input type="text" name="phone" value="" /> <br>
  <input type="submit" value="Create New User" />
</form>
</div>
</div>
