<h1>Welcome Funders!!!</h1>
<h3>Please Input Your Information Below</h3>

<div>
  {{#each fundings}}
    <p>
      <a href="/funders/{{ _id }}">
      {{ name }}

      </a>
    </p>
  {{/each}}
</div>

<form method="POST" action="/funders">
  <label for="name">Name</label>
  <input type="text" name="name" value="" /> <br>
    <label for="name">Website</label>
  <input type="text" name="website" value="" /> <br>
    <label for="name">Email</label>
  <input type="text" name="email" value="" /> <br>
    <label for="name">Phone</label>
  <input type="text" name="phone" value="" /> <br>
  <input type="submit" value="Create New User" />
</form>
