
<form method="POST" action="/funders/{{funding.id}}?_method=PUT">
  <label for="name">Name</label>
  <input type="text" name="film" value="" /> <br>
<label for="name">Website</label>
  <input type="text" name="website" value="" /> <br>
    <label for="name">Email</label>
  <input type="text" name="email" value="" /> <br>
    <label for="name">Phone</label>
  <input type="text" name="phone" value="" /> <br>
  <input type="submit" value="Update User" />
</form>