<h1>Users</h1>
<ul>
  {{#each listOUsers}}
    <li>
      <a href="/users/{{ _id }}">
      {{ name }}
      </a>
    </li>
  {{/each}}
</ul>

<form method="POST" action="/users">
  <label for="name">Name</label>
  <input type="text" name="name" value="" />
  <input type="submit" value="Create New User" />
</form>