/* homepage */
#homePage{
display: grid;
height: 100vh;
width: 100vw;
background-image: url("../public/filmImage.jpg");
background-size: cover;
background-repeat: no-repeat;
opacity: 0.8;
grid-template-columns: 100%;
grid-template-rows: 1fr 1fr 1fr 1fr;
}
.homH1{
    display: flex;
    justify-content: center;
    /* border: solid yellow; */
    font-size: 4.4em;
    font-style: oblique;
    grid-row: 1;
    /* padding: 0%;
    margin: 0%; */
    width: 90%;
     height: 40%; 
}

.filmmakers{
    display: flex;
    justify-content: center;
    /* border: solid purple; */
    color:black;
    grid-row: 2;
    font-size: 2.4em;
    width: 90%;
    padding: 0%;
    margin: 0%;

}
.investors{
    display: flex;
    justify-content: center;
    /* border: solid green; */
    color: black;
    font-size: 2.4em;
    grid-row: 3;
    width: 90%;
    padding: 0%;
    margin: 0%;
}
.funding{
    display: flex;
    justify-content: center;
    /* border: solid black; */
    font-size: 2.4em;
    color: black;
    grid-row: 4;
    width: 90%;
    padding: 0%;
    margin: 0%;
}
/* filmmakers info page*/
#filmPage{
    display: grid;
    height: 100vh;
    width: 100vw;
    background-image: url("../public/high-resolution-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .titleF{
        display: flex;
        justify-content: center;
        /* border: solid yellow; */
        font-size: 4.4em;
        font-style: oblique;
        grid-row: 1;
        /* padding: 0%;
        margin: 0%; */
        width: 90%;
         height: 40%; 
    }
    
    .titleF2{
        display: flex;
        justify-content: center;
        /* border: solid purple; */
        color:black;
        grid-row: 2;
        font-size: 2.4em;
        width: 90%;
        padding: 0%;
        margin: 0%;
    
    }
    #list{
        display: flex;
        justify-content: center;
         border: solid black;
        color: black;
        font-size: 2.4em;
        grid-row: 3;
        width: 90%;
        padding: 0%;
        margin: 0%;
    }
    #firstPage{
        display: flex;
        justify-content: center;
        /* border: solid black; */
        font-size: 1.4em;
        color: black;
        grid-row: 4;
        width: 90%;
        padding: 0%;
        margin: 0%;
    }
/* filmmakers single page */
#filmSing{
    display: grid;
    height: 100vh;
    width: 100vw;
    background-image: url("../public/high-resolution-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    }

    /* .filmNa{
        display: flex;
        justify-content: center;
        /* border: solid purple; */
        color:black;
        grid-row: 2;
        font-size: 2.4em;
        width: 90%;
        padding: 0%;
        margin: 0%;
    
    } */

    /* .listly{
        display: flex;
        justify-content: center;
         border: solid black;
        color: black;
        font-size: 2.4em;
        grid-row: 3;
        width: 90%;
        padding: 0%;
        margin: 0%;
    } */
    /* filmmakers update */
    #filmUpdate{
        display: grid;
        height: 100vh;
        width: 100vw;
        background-image: url("../public/high-resolution-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        }




    /* funders pageindex */
    #funPage{
        display: grid;
        height: 100vh;
        width: 100vw;
        background-image: url("../public/Funders.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        }
        .titleU{
            display: flex;
            justify-content: center;
            /* border: solid yellow; */
            font-size: 4.4em;
            font-style: oblique;
            grid-row: 1;
            /* padding: 0%;
            margin: 0%; */
            width: 90%;
             height: 40%; 
        }
        
        .titleU2{
            display: flex;
            justify-content: center;
            /* border: solid purple; */
            color:black;
            grid-row: 2;
            font-size: 2.4em;
            width: 90%;
            padding: 0%;
            margin: 0%;
        
        }
        #funSelection{
            display: flex;
            justify-content: center;
             border: solid black;
            color: black;
            font-size: 2.4em;
            grid-row: 3;
            width: 90%;
            padding: 0%;
            margin: 0%;
        }
        #funName{
            display: flex;
            justify-content: center;
            /* border: solid black; */
            font-size: 1.4em;
            color: black;
            grid-row: 4;
            width: 90%;
            padding: 0%;
            margin: 0%;
        }

        /* investors index */
        #investorsPage{
            display: grid;
            height: 100vh;
            width: 100vw;
            background-image: url("../public/investors.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.8;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            }
            .titleI{
                display: flex;
                justify-content: center;
                /* border: solid yellow; */
                font-size: 4.4em;
                font-style: oblique;
                grid-row: 1;
                /* padding: 0%;
                margin: 0%; */
                width: 90%;
                 height: 40%; 
            }
            
            .titleI2{
                display: flex;
                justify-content: center;
                /* border: solid purple; */
                color:black;
                grid-row: 2;
                font-size: 2.4em;
                width: 90%;
                padding: 0%;
                margin: 0%;
            
            }
            #investorsSelection{
                display: flex;
                justify-content: center;
                 border: solid black;
                color: black;
                font-size: 2.4em;
                grid-row: 3;
                width: 90%;
                padding: 0%;
                margin: 0%;
            }
            #investorsSection{
                display: flex;
                justify-content: center;
                /* border: solid black; */
                font-size: 1.4em;
                color: black;
                grid-row: 4;
                width: 90%;
                padding: 0%;
                margin: 0%;
            }