/* homepage */
#homePage{
display: grid;
height: 100vh;
width: 100vw;
background-image: url("../public/high-resolution-bg.jpg");
background-size: cover;
background-repeat: no-repeat;
opacity: 0.9;
grid-template-columns: 100%;
grid-template-rows: 1fr 1fr 1fr 1fr;
}
.homH1{
    display: flex;
    justify-content: center;
    border: solid yellow;
    font-size: 4.4em;
    font-style: oblique;
    grid-row: 1;
    /* padding: 0%;
    margin: 0%; */
    width: 90%;
     height: 40%; 
}

.filmmakers{
    display: flex;
    justify-content: center;
    border: solid purple;
    grid-row: 2;
    font-size: 2.4em;
    width: 90%;
    padding: 0%;
    margin: 0%;

}
.investors{
    display: flex;
    justify-content: center;
    border: solid green;
    font-size: 2.4em;
    grid-row: 3;
    width: 90%;
    padding: 0%;
    margin: 0%;
}
.funding{
    display: flex;
    justify-content: center;
    border: solid black;
    font-size: 2.4em;
    color: green;
    grid-row: 4;
    width: 90%;
    padding: 0%;
    margin: 0%;
}