<div id="investorsPage">
<h1 class="titleI">Welcome Investors!!!</h1>
<h3 class="tileI2">Please Input Your Information Below</h3>

<div id="investorsSelection">
  {{#each investors}}
    <p>
      <a href="/investors/{{ _id }}">
      {{ name }}

      </a>
    </p>
  {{/each}}
</div>
<div id="investorsSection">
<form method="POST" action="/investors">
  <label for="name">Name</label>
  <input type="text" name="name" value="" /> <br>
    <label for="name">Website</label>
  <input type="text" name="website" value="" /> <br>
    <label for="name">Email</label>
  <input type="text" name="email" value="" /> <br>
    <label for="name">Phone</label>
  <input type="text" name="phone" value="" /> <br>
  <input type="submit" value="Create New User" />
</form>
</div>
</div>